@import "./reset.css";
@import "./global.css";

.header {
  background-color: var(--COLOR-C1);
}

.nav-mobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-dropdown {
  display: none;
}

.menu-dropdown.active {
  display: grid;
  position: absolute;
  right: 0;
  top: 4rem;
  gap: 0.5rem;
  background-color: var(--COLOR-C1);
  animation: dropdownIn 0.3s;
}

@keyframes dropdownIn {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.menu-dropdown .link-header {
  position: relative;
  padding: 0.5rem;
  transition: all 0.3s;
}

.menu-dropdown .link-header:hover {
  transition: all 0.3s;
  font-weight: bold;
}

.menu-dropdown .link-header + .link-header::after {
  position: absolute;
  content: "";
  width: 60%;
  height: 2px;
  left: 8px;
  top: 0;
  background-color: var(--COLOR-C2);
}

.nav-desktop {
  display: none;
}

.menu-desktop {
  display: none;
}

.introducao {
  margin-top: 2rem;
}

.titulo-intro {
  text-align: center;
}

.paragrafo-intro {
  margin-top: 1rem;
  text-align: center;
}

.links-intro {
  display: flex;
  gap: 1.75rem;
  margin-top: 1rem;
  justify-content: center;
}

.links-intro img {
  width: clamp(2.5rem, 4vw, 3.75rem);
}

.hero-intro {
  margin-top: 2rem;
  justify-self: center;
}

.trabalhos {
  margin-top: 8rem;
}

.subtitulo {
  text-align: center;
}

.trabalho {
  margin-top: clamp(1rem, 4vw, 5rem);
  position: relative;
}

.trabalho + .trabalho {
  margin-top: clamp(4rem, 8vw, 8rem);
}

.trabalho + .trabalho::before {
  position: absolute;
  content: "";
  width: 80%;
  height: 2px;
  left: 10%;
  top: clamp(-4rem, -4vw, -2.5rem);
  background-color: var(--COLOR-C2);
}

.trabalho img {
  border-radius: 1rem;
  box-shadow: 0 4px 12px rgba(50, 54, 67, 0.5);
  max-height: 400px;
  width: 100%;
  object-fit: cover;
  object-position: bottom;
}

.titulo-trabalho {
  text-align: center;
  margin-top: clamp(1rem, 4vw, 3.75rem);
}

.habilidades-trabalho {
  display: flex;
  gap: 0.5rem;
  margin-top: clamp(0.5rem, 2vw, 1.25rem);
  align-items: start;
}

.habilidades-trabalho ul {
  display: flex;
  gap: 8px;
}

.habilidades-trabalho li {
  background-color: var(--COLOR-C2);
  border-radius: 4px;
  padding: 0 4px;
}

.trabalho p,
.trabalho h4 {
  margin-top: clamp(0.75rem, 3vw, 1.5rem);
}

.trabalho a {
  text-decoration: underline;
}

.timelines {
  margin-top: 4rem;
  position: relative;
}

.timeline {
  margin-left: 40px;
  position: relative;
}

.timeline + .timeline {
  margin-top: 4rem;
}

.timeline-item {
  position: relative;
  margin-top: clamp(1.5rem, 4vw, 3.75rem);
}

.timeline-item + .timeline-item {
  margin-top: clamp(1rem, 3vw, 2rem);
}

.timeline-item::before {
  position: absolute;
  content: "";
  width: 2px;
  left: -21px;
  top: -32px;
  height: calc(100% + 54px);
  background-color: var(--COLOR-P1);
  z-index: -1;
}

.timeline-item picture {
  position: absolute;
  left: -36px;
  top: -4px;
  background-color: white;
  width: 32px;
  height: 32px;
}

.timeline-item img {
  position: absolute;
  left: 8px;
  top: 8px;
  width: 16px;
  z-index: 1;
}

.timeline h3,
.timeline p {
  display: inline-block;
}

.timeline-item h4 {
  margin-top: 0.5rem;
}

.timeline-item ul {
  margin-top: 1rem;
}

.timeline-item li {
  margin-left: clamp(1rem, 3vw, 1.5rem);
  position: relative;
}

.timeline-item li::before {
  position: absolute;
  content: "";
  width: 8px;
  height: 2px;
  background-color: var(--COLOR-P3);
  left: -16px;
  top: clamp(6px, 1.33vw, 16px);
}

#soft-skills li::before {
  position: absolute;
  content: "";
  width: 8px;
  height: 2px;
  background-color: var(--COLOR-P3);
  left: -16px;
  top: clamp(12px, 1.75vw, 16px);
}

.timeline-item li + li {
  margin-top: 0.5rem;
}

.timelines::after {
  position: absolute;
  content: "";
  width: 80%;
  height: 2px;
  left: 10%;
  background-color: var(--COLOR-C2);
  bottom: clamp(-12rem, -10vw, -6rem);
}

.contato {
  display: grid;
  justify-content: center;
  justify-items: center;
  margin-top: clamp(12rem, 20vw, 24rem);
}

.contato .subtitulo {
  max-width: 23ch;
}

.contato .btn {
  background-color: var(--COLOR-P3);
  padding: 10px 20px;
  border-radius: 16px;
  box-shadow: 0 10px 12px rgba(37, 117, 152, 0.45);
  margin-top: 2rem;
}

.footer {
  background-color: var(--COLOR-C1);
  display: grid;
  justify-content: center;
  margin-top: 2rem;
}

.footer h3 {
  margin-top: 20px;
}

.footer ul {
  display: flex;
  justify-content: space-around;
  margin-top: 8px;
}

.footer img {
  width: clamp(2rem, 5vw, 2.5rem);
}

@media (min-width: 1440px) {
  .header {
    padding: 1rem 0;
  }

  .nav-mobile {
    display: none;
  }

  .nav-desktop {
    display: flex;
    justify-content: space-between;
  }

  .menu-desktop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .menu-desktop ul {
    display: flex;
    gap: 2rem;
  }

  .link-header {
    transition: all 0.3s;
  }
  .link-header:hover {
    font-weight: bold;
    transition: all 0.3s;
  }

  .introducao {
    display: grid;
    align-items: end;
    grid-template-columns: 5fr 7fr;
    margin-top: 120px;
  }

  .titulo-intro,
  .paragrafo-intro {
    text-align: left;
  }

  .paragrafo-intro {
    margin-top: 40px;
  }

  .links-intro {
    justify-content: start;
    gap: 40px;
    margin-top: 20px;
  }

  .links-intro img {
    max-width: inherit;
  }

  .timelines {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
  }

  .timeline + .timeline {
    margin-top: 0;
  }
}

@media (min-width: 1024px) {
  .timeline-item picture {
    height: 38px;
    top: 2px;
  }

  .timeline-item img {
    width: 20px;
    left: 6px;
  }
}

@media (min-width: 768px) {
  .trabalho {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: clamp(1rem, 4vw, 2.5rem);
  }

  .titulo-trabalho {
    text-align: left;
  }
}
