:root {
  --COLOR-C1: #f7f7f7;
  --COLOR-C2: #d9d9d9;
  --COLOR-C3: #606470;
  --COLOR-C4: #323643;
  --COLOR-P1: #93deff;
  --COLOR-P2: #4ca5cc;
  --COLOR-P3: #257598;
}

.container {
  max-width: 300px;
  margin: 0 auto;
}

.color-c1 {
  color: var(--COLOR-C1);
}
.color-c2 {
  color: var(--COLOR-C2);
}
.color-c3 {
  color: var(--COLOR-C3);
}
.color-c4 {
  color: var(--COLOR-C4);
}
.color-p1 {
  color: var(--COLOR-P1);
}
.color-p2 {
  color: var(--COLOR-P2);
}
.color-p3 {
  color: var(--COLOR-P3);
}
