:root {
  --COLOR-C1: #f7f7f7;
  --COLOR-C2: #d9d9d9;
  --COLOR-C3: #606470;
  --COLOR-C4: #323643;
  --COLOR-P1: #93deff;
  --COLOR-P2: #4ca5cc;
  --COLOR-P3: #257598;
  --FONT-1-XL: 700 clamp(4rem, 8vw, 10rem) / 1.5 "Stack Sans Notch";
  --FONT-1-L: 500 clamp(3rem, 6vw, 7.5rem)/1.2 "Stack Sans Notch";
  --FONT-1-M: 500 clamp(2.5rem, 5vw, 6rem)/1.25 "Stack Sans Notch";
  --FONT-2-L: 500 clamp(2.5rem, 5vw, 6rem)/1.25 "Space Grotesk";
  --FONT-1-S: 500 clamp(2.5rem, 4vw, 5rem)/1.5 "Stack Sans Notch";
  --FONT-1-XS: 400 clamp(1.75rem, 3vw, 4rem)/1.25 "Stack Sans Notch";
  --FONT-2-M: 500 clamp(1.75rem, 3vw, 4rem)/1.25 "Space Grotesk";
  --FONT-2-S: 500 clamp(1.25rem, 2vw, 3rem)/1.33 "Space Grotesk";
}

.container {
  max-width: 300px;
  margin: 0 auto;
}

.color-c1 {
  color: var(--COLOR-C1);
}
.color-c2 {
  color: var(--COLOR-C2);
}
.color-c3 {
  color: var(--COLOR-C3);
}
.color-c4 {
  color: var(--COLOR-C4);
}
.color-p1 {
  color: var(--COLOR-P1);
}
.color-p2 {
  color: var(--COLOR-P2);
}
.color-p3 {
  color: var(--COLOR-P3);
}

.font-1-xl {
  font: var(--FONT-1-XL);
}
.font-1-l {
  font: var(--FONT-1-L);
}
.font-1-m {
  font: var(--FONT-1-M);
}
.font-2-l {
  font: var(--FONT-2-L);
}
.font-1-s {
  font: var(--FONT-1-S);
  letter-spacing: 2px;
}
.font-1-xs {
  font: var(--FONT-1-XS);
}
.font-2-m {
  font: var(--FONT-2-M);
}
.font-2-s {
  font: var(--FONT-2-S);
}
